<%= form_for(@mascotum, html: {multipart: true}) do |f| %>
  <% if @mascotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mascotum.errors.count, "error") %> prohibited this mascotum from being saved:</h2>

      <ul>
      <% @mascotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    *
    <%= f.label :nombre %>
    <%= f.text_field :nombre, :required => true %>
  </div>
  <div >
    <%= f.label :especie %>
    <%= f.select(:especie,options_for_select([['Perro', "perro"], ['Gato',"gato"]], 2)) %>

  </div>
  <div >
    *
    <%= f.label :raza %>
    <%= f.text_field :raza, :required => true %>
  </div>
  <div >
    <%= f.label :sexo %>
    <%= f.select(:sexo,options_for_select([['Macho', "macho"], ['Hembra',"hembra"]], 2)) %>
  </div>
  <div >
    *
    <%= f.label :edad %>
    <%= f.number_field :edad, :required => true %>
  </div>
  <div >
    *
    <%= f.label :color %>
    <%= f.text_field :color, :required => true %>
  </div>
  <div >
    <%= f.label :estado %>
    <%= f.select(:estado,options_for_select([['Adopcion', "adopcion"], ['Recuperacion',"recuperacion"], ['Adoptado',"adoptado"]], 3)) %>

  </div>
  <div >
    <%= f.label :depar %>
    <%= f.check_box :depar %>
  </div>
  <div >
    <%= f.label :hexa %>
    <%= f.check_box :hexa %>
  </div>
  <div >
    <%= f.label :octa %>
    <%= f.check_box :octa %>
  </div>
  <div >
    <%= f.label :anti %>
    <%= f.check_box :anti %>
  </div>
  <div >
    <%= f.label :esterilizacion %>
    <%= f.check_box :esterilizacion %>
  </div>
  <div >
    <%= f.label :observacion %>
    <%= f.text_area :observacion, :rows => 10, :cols => 30%>
  </div>

  <div >
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.submit :Guardar, :class => 'btn btn-success' %>
  </div>
<% end %>
