<center>
  <h1>Mascotas</h1>
</center>


<%= form_tag({:controller => "mascota", :action => "index"}, :method => :get) do %>
    <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Buscar", :name => 'palabra' %>
    <%= submit_tag "Buscar", :name => nil %>
<% end %>
<!-- Icono de imprimir reportes -->
<p align="right">
  <a href="/mascota.pdf" title="" class="btn btn-default">  
    <img src="/assets/impresora.png"  style="width:48px;height:48px" >
  </a>
  Imprimir Lista de Mascotas

</p>

<br>
<a href="/mascota/new" class="btn btn-default">
  <img src="/assets/perro_gato.png"  style="width:50px;height:50px" >
  <%= link_to '+ Registrar Mascota', new_mascotum_path, :class => "btn btn-info" %>
</a>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>Image</th> -->
        <th>ID</th>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Sexo</th>
        <th>Edad Meses</th>
        <!-- <th>Color</th> -->
        <th>Estado</th>
        <!-- <th>Depar</th> -->
        <!-- <th>Hexa</th> -->
        <!-- <th>Octa</th> -->
        <!-- <th>Anti</th> -->
        <!-- <th>Esterilizacion</th> -->
        <!-- <th>Observacion</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mascota.each do |mascotum| %>
        <tr>
          <td><%= mascotum.id %></td>
          <td><%= mascotum.nombre %></td>
          <td><%= mascotum.especie %></td>
          <td><%= mascotum.raza %></td>
          <td><%= mascotum.sexo %></td>
          <td><%= mascotum.edad %></td>
          <!-- <td><%= mascotum.color %></td> -->
          <td><%= mascotum.estado %></td>
          <!-- <td><%= mascotum.depar %></td> -->
          <!-- <td><%= mascotum.hexa %></td> -->
          <!-- <td><%= mascotum.octa %></td> -->
          <!-- <td><%= mascotum.anti %></td> -->
          <!-- <td><%= mascotum.esterilizacion %></td> -->
          <!-- <td><%= mascotum.observacion %></td> -->
          <td><%= link_to 'Ver Mascota', mascotum, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Editar Mascota', edit_mascotum_path(mascotum), :class => 'btn btn-warning' %></td>
          <td><%= link_to 'Eliminar', mascotum, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>