
<div class="jumbotron">
  <h1>Elije tu mascota</h1>
  <br>
  <br>
  <br>
  	<div align="left">
		<%@mascotas.each do |mascota|%>
			<p>Codigo &nbsp;<%= mascota.id %></p>
			<p><B>Nombre = </B><%= mascota.nombre %></p>
			<p><B>Especie = </B><%= mascota.especie %></p>
			<p><B>Color = </B><%= mascota.color %></p>
			<p>...</p>	
			<td><%= link_to 'Ver Mascota', mascota, :class => 'btn btn-primary' %></td>
			<hr>
		<%end%>
	</div>
</div>