<h1>Ver Mascota</h1>
<p id="notice"><%= notice %></p>

<div align="left"> 

    
  <p>
    <strong>Nombre:</strong>
    <%= @mascotum.nombre %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= @mascotum.especie %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= @mascotum.raza %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= @mascotum.sexo %>
  </p>

  <p>
    <strong>Edad Meses:</strong>
    <%= @mascotum.edad %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @mascotum.color %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @mascotum.estado %>
  </p>

  
  <p>
    <strong>Observacion:</strong>
    <%= @mascotum.observacion %>
  </p>


</div>




<%= link_to '<< Atras', mascota_path, :class => 'btn btn-default' %>
<%= link_to 'Editar Mascota', edit_mascotum_path(@mascotum), :class => 'btn btn-warning' %> 
