<h1>Ver Mascota</h1>
<div class="jumbotron">
<p id="notice"><%= notice %></p>

<div align="left"> 

  <p>
    <%= image_tag @mascotum.image_url.to_s, :title => @mascotum.nombre, :alt => @mascotum.nombre, :width =>400 %>
  </p>
    
  <p>
    <strong>Nombre:</strong>
    <%= @mascotum.nombre %>
  </p>
  <p>
    <%= image_tag @mascotum.image_url.to_s, :width =>400 %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= @mascotum.especie %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= @mascotum.raza %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= @mascotum.sexo %>
  </p>

  <p>
    <strong>Edad Meses:</strong>
    <%= @mascotum.edad %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @mascotum.color %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @mascotum.estado %>
  </p>

  
  <p>
    <strong>Observacion:</strong>
    <%= @mascotum.observacion %>
  </p>

 

</div>

<% if user_signed_in? %>
  <div align=left>
    <form action="/voluntario_mascota/registrar" method="get">
      <input type="hidden" id="id_mascota" name="id_mascota" value="<%=@mascotum.id %>" >
      <br>
      <p>
        Asignar Voluntario &nbsp;
        <select name="id_voluntario" id="id_voluntario">
          <% @voluntarios.each do |voluntario| %>
            <option value="<%=voluntario.id%>"><%= voluntario.nombre  %></option>}
          <%end%>
        </select>
      </p>
      <input type="submit" name="enviar" value="Asignar">  
    </form>
  </div>
  <hr>

  <h3>Voluntario encargado</h3>

  <%if @voluntarios_mascotas != nil %>
    <% @voluntarios.each do |voluntario| %>
      <%if voluntario.id == @voluntarios_mascotas.id_voluntario%>
        <div align=left>
          <p>ID VOLUNTARIO::<%= voluntario.id %></p>
          <p>CI::<%= voluntario.ci %></p>
          <p>NOMBRE::<%= voluntario.nombre %></p>
          <p>APELLIDO PATERNO::<%= voluntario.apellido_paterno %></p>
        </div>
      <%end%>
    <%end%>
  <%end%>



  <%= link_to '<< Atras', mascota_path, :class => 'btn btn-default' %>
  <%= link_to 'Editar Mascota', edit_mascotum_path(@mascotum), :class => 'btn btn-warning' %> 
<%end%>
</div>