<%= form_for(@veterinarium) do |f| %>
  <% if @veterinarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@veterinarium.errors.count, "error") %> prohibited this veterinarium from being saved:</h2>

      <ul>
      <% @veterinarium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "formulario">
  <div style="clear:both"></div>
  <div>
    <%= f.label :nombre %>*</div>
    <div><%= f.text_field :nombre %><br> 
  </div>
  <div style="clear:both"></div>
  
  <div>
    <%= f.label :direccion %>*</div>
    <div><%= f.text_field :direccion %><br>
  </div>
  <div style="clear:both"></div>

  <div>
    <%= f.label :telefono %></div>
    <div><%= f.number_field :telefono %><br>
  </div>
  <div style="clear:both"></div>

  <div>
    <%= f.label :movil %></div>
    <div><%= f.number_field :movil %><br>
  </div>
  <div style="clear:both"></div>

  <div>
    <%= f.label :encargado %></div>
    <div><%= f.text_field :encargado %><br>
  </div>
  <div style="clear:both"></div>

  <div>
    <%= f.label :activo %></div>
    <div><%= f.select(:activo,options_for_select([['activo', true], ['inactivo',false]], 2))%><br>
  </div>
  <div style="clear:both"></div>

  <div>
    <%= f.label :descripcion %></div>
    <div><%= f.text_area :descripcion %><br>
  </div>
  <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
	<div class = "form-group">
		<a href="javascript:window.history.back();" class="btn btn-danger">&laquo; Atras</a>
		<input type="submit" value="Guardar" class="btn btn-success" />						
	</div>
  
</div>
<% end %>
