<h1>Mostrando Veterinaria : <%= @veterinarium.nombre %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @veterinarium.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @veterinarium.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @veterinarium.telefono %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @veterinarium.movil %>
</p>

<p>
  <strong>Encargado:</strong>
  <%= @veterinarium.encargado %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @veterinarium.activo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @veterinarium.descripcion %>
</p>
<%= link_to 'Cancelar', veterinaria_path, :class=>"btn btn-danger"  %>|
<%= link_to 'Editar', edit_veterinarium_path(@veterinarium), :class=>"btn btn-success"  %> 
</br>
<td>caso de uso ver veterinaria</td>

