<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @hogar_temporal.ci %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @hogar_temporal.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @hogar_temporal.apellidos %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @hogar_temporal.telefono_fijo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @hogar_temporal.direccion %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @hogar_temporal.numero %>
</p>

<%= link_to '<< Atras', hogar_temporals_path, :class => 'btn btn-default' %>
<%= link_to 'Editar', edit_hogar_temporal_path(@hogar_temporal), :class => 'btn btn-warning' %> 
