<%= form_for(@voluntario_mascotum) do |f| %>
  <% if @voluntario_mascotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voluntario_mascotum.errors.count, "") %> ERRORES PROHIBIDOS:</h2>

      <ul>
      <% @voluntario_mascotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :id_voluntario %>*
    <%= f.number_field :id_voluntario, :required => true %>
  </div>
  <div class="field">
    <%= f.label :id_mascota %>*
    <%= f.number_field :id_mascota, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
