<p id="notice"><%= notice %></p>

<p>
  <strong>id Voluntario:</strong>
  <%= @voluntario_mascotum.id_voluntario %>
</p>
<p>
  <strong>id Mascota:</strong>
  <%= @voluntario_mascotum.id_mascota %>
</p>
<%= link_to 'Edit', edit_voluntario_mascotum_path(@voluntario_mascotum) %> 
<%= link_to 'Back', voluntario_mascota_path %>
