<h1>Adopciones</h1>

<%= form_tag({:controller => "adopcions", :action => "index"}, :method => :get) do %>
    <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Buscar", :name => 'palabra' %>
    <%= submit_tag "Buscar", :name => nil %>
<% end %>
<br>
<%= @mascotas.size %>
<%= @personas.size %>
<br>
<h1><%= @palabra %> &nbsp; </h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>CI</th>
        <th>Nombres</th>
        <th>Mascota</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Referencia casa</th>
        <th>Numero referencia1</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @adopcions.each do |adopcion| %>


        <tr>
          <% @personas.each do |persona|%>
            <% if adopcion.id_persona == persona.id %>
              <td><%= persona.ci %></td>
              <td><%= persona.nombres %></td>
            <%end%>
          <%end%> 
          <% @mascotas.each do |mascota|%>
            <% if adopcion.id_mascota == mascota.id %>
              <td><%= mascota.nombre %></td>
              <td><%= mascota.especie %></td>
              <td><%= mascota.raza %></td>
            <%end%>
          <%end%>     
          <td><%= adopcion.referencia_casa %></td>
          <td><%= adopcion.numero_referencia1 %></td>
          <td><%= link_to 'Ver', adopcion %></td>
          <td><%= link_to 'Editar', edit_adopcion_path(adopcion) %></td>
          <td><%= link_to 'Eliminar', adopcion, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Registrar Adopcion', new_adopcion_path %>
<%= link_to 'Personas', personas_path %>
