<center><h1>Ver Adopcion</h1></center>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>ID PERSONA:</strong>
  <%= @adopcion.id_persona %><BR>
  <% @personas.each do |persona|%>
    <% if @adopcion.id_persona == persona.id %>
      <strong>CI</strong> <%= persona.ci %><br>
      <strong>NOMBRES</strong> <%= persona.nombres %> <br>
    <%end%>
  <%end%> 
</p>
<hr>
<p>
  <strong>ID MASCOTA:</strong>
  <%= @adopcion.id_mascota %> <br>
  <% @mascotas.each do |mascota|%>
    <% if @adopcion.id_mascota == mascota.id %>
      <strong>NOMBRE</strong> <%= mascota.nombre %><br>
      <strong>ESPECIE</strong> <%= mascota.especie %> <br>
      <strong>RAZA</strong> <%= mascota.raza %> <br>
    <%end%>
  <%end%>
</p>
<hr>
<p>
  <strong>Numero adultos:</strong>
  <%= @adopcion.numero_adultos %>
</p>

<p>
  <strong>Numero ninios:</strong>
  <%= @adopcion.numero_ninios %>
</p>

<p>
  <strong>Numero perros:</strong>
  <%= @adopcion.numero_perros %>
</p>

<p>
  <strong>Numero gatos:</strong>
  <%= @adopcion.numero_gatos %>
</p>

<p>
  <strong>Numero Otros:</strong>
  <%= @adopcion.numero_otros %>
</p>

<p>
  <strong>Referencia casa:</strong>
  <%= @adopcion.referencia_casa %>
</p>

<p>
  <strong>Numero referencia1:</strong>
  <%= @adopcion.numero_referencia1 %>
</p>

<p>
  <strong>Numero referencia2:</strong>
  <%= @adopcion.numero_referencia2 %>
</p>

<%= link_to 'Registrar Seguimiento', nuevo_seguimiento_path, :class => 'btn btn-primary' %>


<%= link_to '<< Atras', adopcions_path, :class => 'btn btn-default' %>
<%= link_to 'Editar', edit_adopcion_path(@adopcion), :class => 'btn btn-warning' %> 

<!-- PARTE DE SEGUIMIENTOS -->
<p>Id :: <%= @id_adopcion%> </p>
<p>Seguimientos :: <%= @seguimientos.size%> </p>

<div id="seguimientos" align="left">
  <hr>
  <h2>Seguimientos</h2>
  <%@seguimientos.each do |seguimiento|%>
    Fecha::<%= seguimiento.created_at %>
    <br>
    <%= seguimiento.observacion %>
    <br>
    <div align="right">
      <%= link_to 'Editar', edit_seguimiento_path(seguimiento) %>
      <%= link_to 'Eliminar', seguimiento, method: :delete, data: { confirm: 'Esta seguro?' } %>
    </div>
    <hr>
  <%end%>
</div>