<h1>Lista voluntarios</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th class = "info">Nombre</th>
      <th class = "success">Apellido paterno</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
				<div class="col-md-4">	
								<%= link_to 'Registrar Voluntario', new_voluntario_path, class: "btn btn-info"%>				
				</div>
        <%= form_tag({:controller => "voluntarios", :action => "index"}, :method => :get) do %>
        <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Buscar", :name => 'palabra' %>
        <%= submit_tag "Buscar", :name => nil %>
        <% end %>
        <p>
          <div class="btn-group">
            <button type="button" class="btn btn-default">Ordenar por:</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%=link_to "Activos", ordertable_path%></li>
              <li><%=link_to "Todos", voluntarios_path%></li>
            </ul>
          </div>
          </p>
			</br>
			</br>
		</br>
    <% @voluntarios.each do |voluntario| %>
      <tr>
        <td class = "info"><%= voluntario.nombre %></td>
        <td class = "success"><%= voluntario.apellido_paterno %></td>
        <td><%= link_to 'Mostrar', voluntario,class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_voluntario_path(voluntario),class: "btn btn-warning" %></td>
        <!--<td><%= link_to 'Destroy', voluntario, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


