  <p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @voluntario.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @voluntario.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @voluntario.apellido_materno %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @voluntario.estado %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @voluntario.ci %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @voluntario.fecha_nacimiento %>
</p>

<p>
  <strong>Lugar nacimiento:</strong>
  <%= @voluntario.lugar_nacimiento %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @voluntario.edad %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @voluntario.estado_civil %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @voluntario.direccion %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @voluntario.telefono_fijo %>
</p>

<p>
  <strong>Telefono movil:</strong>
  <%= @voluntario.telefono_movil %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voluntario.email %>
</p>

<p>
  <strong>Licensia conducir:</strong>
  <%= @voluntario.licensia_conducir %>
</p>

<p>
  <strong>Formacion academica:</strong>
  <%= @voluntario.formacion_academica %>
</p>

<%= link_to '<< Atras', voluntarios_path, class: "btn btn-default"  %> |
<%= link_to 'Editar', edit_voluntario_path(@voluntario), class: "btn btn-warning" %> 
<a href="#" class="btn btn-success"
   data-toggle="modal"
   data-target="#basicModal">Ver lista de mascotas actuales</a>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Mis Mascotas</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class = "info">Direccion</th>
                        <th class = "success">Fecha</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @rescates.each do |rescate| %>
                        <tr>
                          <td class = "info"><%= rescate.direccion_rescate %></td>
                          <td class = "success"><%= rescate.fecha %></td>
                      <% end %>
                    </tbody>
                  </table>
                  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


