<div align="left"> 
<div class = "formulario">
<div style="clear:both"></div>
  <p id="notice"><%= notice %></p>
<div>
  <strong>Nombre:</strong></div>
  <div><%= @voluntario.nombre %></div>
<div style="clear:both"></div>
<div>
  <strong>Apellido paterno:</strong></div>
  <div><%= @voluntario.apellido_paterno %></div>
<div style="clear:both"></div>
<div>
  <strong>Apellido materno:</strong></div>
  <div><%= @voluntario.apellido_materno %></div>
<div style="clear:both"></div>
<div>
  <strong>Estado:</strong></div>
  <div><%= @voluntario.estado %></div>
<div style="clear:both"></div>
<div><strong>Ci:</strong></div>

  <div><%= @voluntario.ci %></div>
<div style="clear:both"></div>
<div>
  <strong>Fecha nacimiento:</strong></div>
  <div><%= @voluntario.fecha_nacimiento %></div>
<div style="clear:both"></div>
<div>
  <strong>Lugar nacimiento:</strong></div>
  <div><%= @voluntario.lugar_nacimiento %></div>
<div style="clear:both"></div>
<div>
  <strong>Edad:</strong></div>
  <div><%= @voluntario.edad %></div>
<div style="clear:both"></div>
<div>
  <strong>Estado civil:</strong></div>
  <div><%= @voluntario.estado_civil %></div>
<div style="clear:both"></div>
<div>
  <strong>Direccion:</strong></div>
  <div><%= @voluntario.direccion %></div>
<div style="clear:both"></div>
<div>
  <strong>Telefono fijo:</strong></div>
  <div><%= @voluntario.telefono_fijo %></div>
<div style="clear:both"></div>
<div>
  <strong>Telefono movil:</strong></div>
  <div><%= @voluntario.telefono_movil %></div>
<div style="clear:both"></div>
<div>
  <strong>Email:</strong></div>
  <div><%= @voluntario.email %></div>
<div style="clear:both"></div>
<div>
  <strong>Licensia conducir:</strong></div>
  <div><%= @voluntario.licensia_conducir %></div>
<div style="clear:both"></div>
<div>
  <strong>Formacion academica:</strong></div>
  <div><%= @voluntario.formacion_academica %></div>
<div style="clear:both"></div>
<div>
<%= link_to '<< Atras', voluntarios_path, class: "btn btn-default" %></div>
<div><%= link_to 'Editar', edit_voluntario_path(@voluntario), class: "btn btn-warning" %></div>
<form class="navbar-form navbar-left" method="get" action=<%=misrescates_path(@voluntario.id)%> data-method="delete" >
                      <button type="submit" class="btn btn-success">Ver lista de Rescates</button>
                  </form>
</div>
</div>
