<center>
  <h1> Noticias</h1>
</center>

<%= form_tag({:controller => "noticia", :action => "index"}, :method => :get) do %>
    <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Buscar", :name => 'palabra' %>
    <%= submit_tag "Buscar", :name => nil %>
<% end %>
<br>
<h1><%= @palabra %> &nbsp; </h1>



<br>
<a href="/noticia/new" class="btn btn-default">
  <img src="/assets/noticia.png"  style="width:50px;height:50px">
  <%= link_to '+ Registrar Noticia', new_noticium_path, :class => 'btn btn-info' %>
</a>
<br><br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Categoria</th>
        <!-- <th>Contenido</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @noticia.each do |noticium| %>
        <tr>
          <td><%= noticium.titulo %></td>
          <td><%= noticium.categoria %></td>
          <!-- <td><%= noticium.contenido %></td> -->
          <td><%= link_to 'Ver Noticia', noticium, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Editar Noticia', edit_noticium_path(noticium), :class => 'btn btn-warning' %></td>
          <td><%= link_to 'Eliminar Noticia', noticium, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

