<!DOCTYPE html>
<html>
<head>
  <title>Zooepagina</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Zooe</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li> 
            <li><%= link_to('Salir', destroy_user_session_path, 
              :method => :delete) %></li>
            
        <% else %>
          <li ><%= link_to('Registrarse', new_user_registration_path) %></li>
          <li ><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
          </ul>
					
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	</br>
</br>
</br>
<!-- barra izquierda -->

<div class= "barraizquierdafijo">
  <div class='row'>
  <div class="col-lg-4" style="width: 28%;">
    <div class="page-header"style="position:fixed; top:15%; left:20px;">
        <div class="btn-group-vertical"> 
        <% if user_signed_in? %>
          <% if current_user.estado?  %>
          <a href="#" class="btn btn-success btn-lg"
          data-toggle="modal"
          data-target="#modalVeterinaria">Veterinaria</a>

           <a href="#" class="btn btn-success btn-lg"
          data-toggle="modal"
          data-target="#modalVoluntario">Voluntario</a>

          <a href="#" class="btn btn-success btn-lg"
          data-toggle="modal"
          data-target="#modalRescate">Rescate</a>
          
          <% if current_user.admin? %>
          <%= link_to 'Usuarios', lista_usuario_path,class: "btn btn-success btn-lg"%>
          <% end -%>
         
          <a href="/hogar_temporals" class="btn btn-success btn-lg">Hogar Temporal</a>
          <%= link_to 'Adopciones', adopcions_path, class: "btn btn-success btn-lg" %>
<% end %>
<% end %>
 <a href="/mascota" class="btn btn-success btn-lg">Mascotas </a>
          <a href="/noticia" class="btn btn-success btn-lg">Noticias</a>
          </div>
</div>
</div>

<!-- Modal Veterinaria-->  
<div class="modal fade" id="modalVeterinaria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Veterinaria</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <div class="table-responsive">
                  <%= link_to 'Buscar Veterinaria', veterinaria_path,:class=>"btn btn-success btn-lg"%>
                  <%= link_to 'Registrar Veterinaria', new_veterinarium_path, :class=>"btn btn-success btn-lg"  %>  
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Voluntario-->  
<div class="modal fade" id="modalVoluntario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Voluntario</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <div class="table-responsive">
                  <%= link_to 'Buscar Voluntario', voluntarios_path, class: "btn btn-success btn-lg" %>
                  <%= link_to 'Registrar Voluntario', new_voluntario_path, class: "btn btn-success btn-lg"%> 
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Rescate-->  
<div class="modal fade" id="modalRescate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rescate</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <div class="table-responsive">
                  <%= link_to 'Buscar Rescate', rescates_path, class: "btn btn-success btn-lg" %>  
                  <%= link_to 'Registrar Rescate', new_rescate_path, class: "btn btn-success btn-lg" %> 
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- pie de pagina -->		 	 
    <div class="contenido">
      <div class="starter-template">
        <p class="lead"><%= yield %>   
					<!-- pie de pagina --> 
				</p>
      </div>
    </div>
</body>
</html>
